<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %> 
<body style="background-color: rgb(255, 255, 190)">
<%- include('./partials/nav.ejs')  %>
    <div class="container">
        <div class="card mb-3">
            <img src="https://blog.logrocket.com/wp-content/uploads/2021/12/How-to-EJS-template-Nodejs.png" class="card-img-top" alt="..." width="500" height="400">
            <div class="card-body">
              <h5 class="card-title">EJS (Embedded JavaScript Templating)</h5>
              <p class="card-text">one of the most popular template engines for JavaScript. As the name suggests, it lets us embed JavaScript code in a template language that is then used to generate HTML.

                In this article, I will walk you through a detailed guide to templating your Node application with EJS. First, we’ll cover the basics of template engines and setting up EJS, but we will move on to a more advanced guide to using EJS in your Node</p>
              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
    </div>
<%- include('./partials/footer.ejs')  %> 
</body>
</html>